<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!--<link rel="stylesheet" href="../static/css/style.css" type="text/css">-->
<script src="https://kit.fontawesome.com/d604a8edc1.js" crossorigin="anonymous"></script>
  
</head>

<body>

  <div class="contenedor" id="container">
  <header>
    <div>
    </div>
    <h1><a title="" href="">
        <img class="" src="" /></a>
        Login
        <span style="font-size: 80%; color:  hsl(123, 99%, 44%);">
        </span><img class="" src="" /></h1>
    <div>
    </div>

    <div class="topnav">
      <a href="{{url_for('show_signup')}}">Registrarse</a>
      <a href="{{url_for('login')}}">Ingresar </a>
      <a href="{{url_for('logout')}}">Cerrar sesión </a>
      <a href="{{url_for('agendar_turno')}}">Turnos </a>
      
      </div><br>

  </header>
  <section class="main">
    <div class="form">
      <h1>Ingresar</h1>

        <!-- Formulario para recibir los parámetros  -->
        <form method = "POST" action="{{url_for('login')}}">
          <input type="text" name="mail" placeholder="Mail" required="required" />
          <input type="password" name="password" placeholder="Password">
          <button type="submit" class="btn btn-primary btn-block btn-large">Ingresar</button>
        </form>
        <a class="btn btn-primary btn-block btn-large" href="{{url_for('show_signup')}}">Registrarse</a>
    </div>

  </section>

  <footer class="pie">

      <p><span style="font-size: 100%; color:  hsl(194, 99%, 44%);">
              <i class="fas fa-university"></span></i></span>
              http://info@info.com.ar
              <span style="font-size: 100%; color:  orange;">
              <i class="fas fa-mobile-alt"></i></span> Tel.: +54 9 11 XXXX-XXXX</p>
  </footer>
</div>


</body>
</html>
